{% extends "layout.html" %}

{% block body %}


    <form class="form" action="/score" method="POST">
        <div class="string1-input-container">
            <label class="string1-label" for="string1">String 1</label>
            <input class="string1-input" id="string1"/>
        </div>
        <div class="string2-input-container">
            <label class="string2-label" for="string2">String 2</label>
            <input class="string2-input" id="string2"/>
        </div>
        <div class="buttons"><button type="submit">Submit</button></div>
    </form>

{% endblock %}
