{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div><span>Balance: </span><span>{{balance | round(2)}}</span></div>
<div><span>Grand Total: </span><span>{{(balance + stocks_value) | round(2) }}</span></div>
<table class="table">
    <thead>
        <tr>
            <td>Symbol</td>
            <td>Shares</td>
            <td>Current Price</td>
            <td>Total Value</td>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock["symbol"]}}</td>
            <td>{{stock["shares"]}}</td>
            <td>{{stock["current_price"]}}</td>
            <td>{{stock["total_value"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}