{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <td>Symbol</td>
            <td>Shares</td>
            <td>Current Price</td>
            <td>Total Value</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock["symbol"]}}</td>
            <td>{{stock["shares"]}}</td>
            <td>{{stock["current_price"]}}</td>
            <td>{{stock["total_value"]}}</td>
            <td>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}