{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<div class="quoted">
    <div class="quoted--row name">
        <span class="quoted--row--label name--label">Company: </span>
        <span class="quoted--row--value name--value">{{ name }}</span>
    </div>
    <div class="quoted--row symbol">
        <span class="quoted--row--label symbol--label">Symbol: </span>
        <span class="quoted--row--value symbol--value">{{ symbol }}</span>
    </div>
    <div class="quoted--row value">
        <span class="quoted--row--label value--label">Price: </span>
        <span class="quoted--row--value value--value">{{ price }}</span>
    </div>
</div>

{% endblock %}